In [1]:
# Import dependencies
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from datetime import datetime, timedelta

In [2]:
# Set pandas options
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
# Import raw dataframes
path = os.path.join(os.getcwd(), 'data')

train_df_raw = pd.read_csv(os.path.join(path, 'train.csv'))
weather_train_raw = pd.read_csv(os.path.join(path, 'weather_train.csv'))
weather_test_raw = pd.read_csv(os.path.join(path, 'weather_test.csv'))
building_raw = pd.read_csv(os.path.join(path, 'building_metadata.csv'))

In [4]:
train_df = train_df_raw.copy()
train_df

          building_id  meter            timestamp  meter_reading
0                   0      0  2016-01-01 00:00:00          0.000
1                   1      0  2016-01-01 00:00:00          0.000
2                   2      0  2016-01-01 00:00:00          0.000
3                   3      0  2016-01-01 00:00:00          0.000
4                   4      0  2016-01-01 00:00:00          0.000
...               ...    ...                  ...            ...
20216095         1444      0  2016-12-31 23:00:00          8.750
20216096         1445      0  2016-12-31 23:00:00          4.825
20216097         1446      0  2016-12-31 23:00:00          0.000
20216098         1447      0  2016-12-31 23:00:00        159.575
20216099         1448      0  2016-12-31 23:00:00          2.850

[20216100 rows x 4 columns]

In [5]:
weather_train = weather_train_raw.copy()
weather_train

        site_id            timestamp  air_temperature  cloud_coverage  dew_temperature  precip_depth_1_hr  sea_level_pressure  wind_direction  wind_speed
0             0  2016-01-01 00:00:00             25.0             6.0             20.0                NaN              1019.7             0.0         0.0
1             0  2016-01-01 01:00:00             24.4             NaN             21.1               -1.0              1020.2            70.0         1.5
2             0  2016-01-01 02:00:00             22.8             2.0             21.1                0.0              1020.2             0.0         0.0
3             0  2016-01-01 03:00:00             21.1             2.0             20.6                0.0              1020.1             0.0         0.0
4             0  2016-01-01 04:00:00             20.0             2.0             20.0               -1.0              1020.0           250.0         2.6
...         ...                  ...              ...             ...              ...                ...                 ...             ...         ...
139768       15  2016-12-31 19:00:00              3.0             NaN             -8.0                NaN                 NaN           180.0         5.7
139769       15  2016-12-31 20:00:00              2.8             2.0             -8.9                NaN              1007.4           180.0         7.7
139770       15  2016-12-31 21:00:00              2.8             NaN             -7.2                NaN              1007.5           180.0         5.1
139771       15  2016-12-31 22:00:00              2.2             NaN             -6.7                NaN              1008.0           170.0         4.6
139772       15  2016-12-31 23:00:00              1.7             NaN             -5.6               -1.0              1008.5           180.0         8.8

[139773 rows x 9 columns]

In [6]:
weather_test = weather_test_raw.copy()
weather_test

        site_id            timestamp  air_temperature  cloud_coverage  dew_temperature  precip_depth_1_hr  sea_level_pressure  wind_direction  wind_speed
0             0  2017-01-01 00:00:00             17.8             4.0             11.7                NaN              1021.4           100.0         3.6
1             0  2017-01-01 01:00:00             17.8             2.0             12.8                0.0              1022.0           130.0         3.1
2             0  2017-01-01 02:00:00             16.1             0.0             12.8                0.0              1021.9           140.0         3.1
3             0  2017-01-01 03:00:00             17.2             0.0             13.3                0.0              1022.2           140.0         3.1
4             0  2017-01-01 04:00:00             16.7             2.0             13.3                0.0              1022.3           130.0         2.6
...         ...                  ...              ...             ...              ...                ...                 ...             ...         ...
277238       15  2018-12-31 19:00:00              3.3             NaN              1.7                NaN              1018.3           150.0         7.7
277239       15  2018-12-31 20:00:00              2.8             NaN              1.1                NaN              1017.8           140.0         5.1
277240       15  2018-12-31 21:00:00              2.8             NaN              1.7               -1.0              1017.2           140.0         6.2
277241       15  2018-12-31 22:00:00              2.8             NaN              2.2                8.0              1016.1           140.0         5.1
277242       15  2018-12-31 23:00:00              3.3             NaN              2.2               20.0              1014.7           140.0         5.1

[277243 rows x 9 columns]

In [7]:
building_df = building_raw.copy()
building_df

      site_id  building_id                    primary_use  square_feet  year_built  floor_count
0           0            0                      Education         7432      2008.0          NaN
1           0            1                      Education         2720      2004.0          NaN
2           0            2                      Education         5376      1991.0          NaN
3           0            3                      Education        23685      2002.0          NaN
4           0            4                      Education       116607      1975.0          NaN
...       ...          ...                            ...          ...         ...          ...
1444       15         1444  Entertainment/public assembly        19619      1914.0          NaN
1445       15         1445                      Education         4298         NaN          NaN
1446       15         1446  Entertainment/public assembly        11265      1997.0          NaN
1447       15         1447            Lodging/residential        29775      2001.0          NaN
1448       15         1448                         Office        92271      2001.0          NaN

[1449 rows x 6 columns]

In [8]:
# Merge datasets
train_merged = train_df.merge(building_df, on='building_id', how='left')
train_merged = train_merged.merge(weather_train, on=['site_id', 'timestamp'], how='left')

In [9]:
train_merged

          building_id  meter            timestamp  meter_reading  site_id                    primary_use  square_feet  year_built  floor_count  air_temperature  cloud_coverage  dew_temperature  precip_depth_1_hr  sea_level_pressure  wind_direction  wind_speed
0                   0      0  2016-01-01 00:00:00          0.000        0                      Education         7432      2008.0          NaN             25.0             6.0             20.0                NaN              1019.7             0.0         0.0
1                   1      0  2016-01-01 00:00:00          0.000        0                      Education         2720      2004.0          NaN             25.0             6.0             20.0                NaN              1019.7             0.0         0.0
2                   2      0  2016-01-01 00:00:00          0.000        0                      Education         5376      1991.0          NaN             25.0             6.0             20.0                NaN              1019.7             0.0         0.0
3                   3      0  2016-01-01 00:00:00          0.000        0                      Education        23685      2002.0          NaN             25.0             6.0             20.0                NaN              1019.7             0.0         0.0
4                   4      0  2016-01-01 00:00:00          0.000        0                      Education       116607      1975.0          NaN             25.0             6.0             20.0                NaN              1019.7             0.0         0.0
...               ...    ...                  ...            ...      ...                            ...          ...         ...          ...              ...             ...              ...                ...                 ...             ...         ...
20216095         1444      0  2016-12-31 23:00:00          8.750       15  Entertainment/public assembly        19619      1914.0          NaN              1.7             NaN             -5.6               -1.0              1008.5           180.0         8.8
20216096         1445      0  2016-12-31 23:00:00          4.825       15                      Education         4298         NaN          NaN              1.7             NaN             -5.6               -1.0              1008.5           180.0         8.8
20216097         1446      0  2016-12-31 23:00:00          0.000       15  Entertainment/public assembly        11265      1997.0          NaN              1.7             NaN             -5.6               -1.0              1008.5           180.0         8.8
20216098         1447      0  2016-12-31 23:00:00        159.575       15            Lodging/residential        29775      2001.0          NaN              1.7             NaN             -5.6               -1.0              1008.5           180.0         8.8
20216099         1448      0  2016-12-31 23:00:00          2.850       15                         Office        92271      2001.0          NaN              1.7             NaN             -5.6               -1.0              1008.5           180.0         8.8

[20216100 rows x 16 columns]

In [20]:
train_merged.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20216100 entries, 0 to 20216099
Data columns (total 16 columns):
 #   Column              Non-Null Count     Dtype
---  ------              --------------     -----
 0   building_id         20216100 non-null  int64
 1   meter               20216100 non-null  int64
 2   timestamp           20216100 non-null  datetime64[ns]
 3   meter_reading       20216100 non-null  float64
 4   site_id             20216100 non-null  int64
 5   primary_use         20216100 non-null  int32
 6   square_feet         20216100 non-null  int64
 7   year_built          8088455 non-null   float64
 8   floor_count         3506933 non-null   float64
 9   air_temperature     20119442 non-null  float64
 10  cloud_coverage      11390735 non-null  float64
 11  dew_temperature     20115960 non-null  float64
 12  precip_depth_1_hr   16467077 non-null  float64
 13  sea_level_pressure  18984431 non-null  float64
 14  wind_direction      18767052 non-null  float64
 15  wind_speed          20072424 non-null  float64
dtypes: datetime64[ns](1), float64(10), int32(1), int64(4)
memory usage: 2.5 GB

In [11]:
# Encoding primary_use
primary_use_map = {'Education': 1, 'Office': 2, 'Entertainment/public assembly': 3, 'Lodging/residential': 4,
                   'Public services': 5, 'Healthcare': 6, 'Other': 7, 'Parking': 8, 'Manufacturing/industrial': 9,
                   'Food sales and service': 10, 'Retail': 11, 'Warehouse/storage': 12, 'Services': 13, 
                   'Technology/science': 14, 'Utility': 15, 'Religious worship': 16}

train_merged['primary_use'] = train_merged['primary_use'].map(primary_use_map).astype(np.int64)

In [12]:
# Convert timestamp to datetime
train_merged['timestamp'] = pd.to_datetime(train_merged['timestamp'], infer_datetime_format=True)

In [21]:
# Fill null, and convert year_built
train_merged['year_built'].fillna(0, inplace=True)
train_merged['year_built'] = train_merged['year_built'].astype(np.int64)

In [22]:
train_merged.isnull().sum()

building_id                  0
meter                        0
timestamp                    0
meter_reading                0
site_id                      0
primary_use                  0
square_feet                  0
year_built                   0
floor_count           16709167
air_temperature          96658
cloud_coverage         8825365
dew_temperature         100140
precip_depth_1_hr      3749023
sea_level_pressure     1231669
wind_direction         1449048
wind_speed              143676
dtype: int64

In [37]:
train_merged['meter'].unique()

array([0, 3, 1, 2], dtype=int64)

In [39]:
submission = pd.read_csv(os.path.join(path, 'sample_submission.csv'))
submission

            row_id  meter_reading
0                0              0
1                1              0
2                2              0
3                3              0
4                4              0
...            ...            ...
41697595  41697595              0
41697596  41697596              0
41697597  41697597              0
41697598  41697598              0
41697599  41697599              0

[41697600 rows x 2 columns]

In [40]:
test_df = pd.read_csv(os.path.join(path, 'test.csv'))
test_df

            row_id  building_id  meter            timestamp
0                0            0      0  2017-01-01 00:00:00
1                1            1      0  2017-01-01 00:00:00
2                2            2      0  2017-01-01 00:00:00
3                3            3      0  2017-01-01 00:00:00
4                4            4      0  2017-01-01 00:00:00
...            ...          ...    ...                  ...
41697595  41697595         1444      0  2018-05-09 07:00:00
41697596  41697596         1445      0  2018-05-09 07:00:00
41697597  41697597         1446      0  2018-05-09 07:00:00
41697598  41697598         1447      0  2018-05-09 07:00:00
41697599  41697599         1448      0  2018-05-09 07:00:00

[41697600 rows x 4 columns]

In [41]:
ax = plt.subplot(111)
ax.bar(train_merged['timestamp'].values, train_merged['meter_reading'], width=10)
ax.xaxis_date()

plt.show()

KeyboardInterrupt:

Error in callback <function flush_figures at 0x0000017348087550> (for post_execute):

KeyboardInterrupt: